<section
  id="search"
  aria-label="search"
  class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 mt-0 shadow-xl shadow-black py-20 sm:py-32 rounded-xl"
>
  <div class="mx-full px-4 sm:px-6 lg:px-8 self-center">
    <div class="mx-full justify-center  md:text-center">
      <h2 class="font-display select-none cursor-text whitespace-nowrap: bg-black p-2 text-6xl text-cyan-100 text-left">
        Encuentra tu siguiente <span class="text-pink-500">Moovie</span> favorita 🎬
      </h2>
      <div class="flex justify-center mt-5 w-full ">
        <input
          type="text"
          placeholder="Busca películas, series, etc"
          class="w-full md:w-80 px-3 h-10 shadow-xl shadow-neutral-900 rounded-l border border-black focus:outline-none focus:border-l-fuchsia-950"
        />
        <button
          type="submit"
          class="bg-pink-800 border-5 hover:bg-pink-700 text-white shadow-xl shadow-neutral-900 rounded-r px-2 md:px-3 py-0 md:py-1"
          >Buscar</button
        >
      </div>
    </div>
  </div>
</section>
